################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/headeronlycsv/.vs/headeronlycsv/v16
/headeronlycsv/Debug
/headeronlycsv/headeronlycsv/Debug
*.user
/Sample/.vs
/Sample/Debug
/Sample/Sample/Debug
